body {

}

table {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  margin-top: 2em;
  background-color: lightgrey;
  padding: 1em;
  border-radius: 5%;
}

button {
  height: 4em;
  width: 4em;
  color: blue;

}

td {
  height: 3em;
  width: 3em;
}

#container{
  width: 100%;
  margin: auto;
}

#title {
  width: 100%;
  background-color: #24292e;
  color: white;
  font-size: 2em;
  text-align: center;
  padding-top: .25em;
  padding-bottom: .1em;
}

#scr {
  margin-bottom:2em;
  text-align: center;
  color:red;
  border: 1px solid black;
  background-color: white;
  border-radius: 4px;
}

#zero {

  color: red;
}

#equals {
  background-color: cornflowerblue;
  color: white;
}

#equation{
  color: maroon;
}

.op {
  background-color: grey;
  color: white;
}

div {
  text-align: right;
  width: 200px;
  margin: auto;
  min-height: 20px;

}
